<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-contex.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop.xsd
    ">

	<bean id="userServiceImpl" class="com.wjl.maven.service.impl.UserServiceImpl" />
	<bean id="totalAdvice" class="com.wjl.maven.advice.TotalAdvice" />

	<aop:config>

		<aop:pointcut id="pc"
			expression="execution(* com.wjl.maven.service.impl.UserServiceImpl.*(..))" />

		<aop:aspect ref="totalAdvice">
			<aop:before method="before" pointcut-ref="pc" />
		</aop:aspect>


	</aop:config>
</beans>